:root{
  --color_mildkarmin: #735;
  --color_deepkarmin: #512;
  --color_eggshell: #EEC;
  --color_darkereggshell: #CC9;
  --font_main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html{
  background-color: var( --color_mildkarmin );
}

p, h1, h2, h3, h4, h5, h6, a, label{
  font-family: var( --font_main);
  color: var( --color_eggshell );
}

.form-div{
  width: max-content;
  padding: 20px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border-radius: 20px;
  background-color: #FFF5;
  box-shadow: 0px 1px 2px var(--color_deepkarmin);
}

.input-field{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-style: none;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border-color:var(--color_eggshell);
  background: var( --color_deepkarmin);
  color: var( --color_eggshell);
}
.input-field:focus{
  outline: none;
}
.input-field::placeholder{
  font-family: var( --font_main);
  color: var( --color_darkereggshell);
}

.submit-button{
  padding: 10px;
  width: 200px;
  font-size: medium;
  border-radius: 5px;
  border: none;
  background: var( --color_eggshell);
  color: var( --color_mildkarmin);
  margin: auto;
  margin-top: 20px;
  display: block;
}
.submit-button:hover{
  color: var(--color_deepkarmin);
  font-weight: 500;
}

button{
  font-family: var( --font_main);
  padding: 0;
  border: none;
  background: none;
}

.form_input_divs{
  margin-top: 10px;
}